html, 
body, 
#map-canvas { 
    height: 100%; 
    margin: 0; 
    padding: 0;
}
#pano {
    width: 400px;
    height: 274px;
    float:left;
    margin-right: 20px;
}
#details {
    overflow: auto;
    height: 234px;
    width: 232px;
}
.details-holder {
    float:right;
    height: 234px;
    position: relative;
}
#details p {
    margin-top: 0;
}
#details:after {
    content:'';
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    height: 20px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
#loader {
    text-align: center;
    margin-top: 150px;
    
}
.info {
    width: 654px;
    height: 321px;
    overflow: hidden;
}
.info h3 {
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 18px;
}
body {
    font: 14px/1.375 sans-serif;
    background: #f2f2f2;
}
.wrapper {
    height: 100%;
    width:  100%;
    display:table;
}
.map {
    display:table-cell;
    width:70%;
    height: 100%;
    vertical-align: top;
}
.places {
    display:table-cell;
    width:30%;
    height: 100%;
    vertical-align: top;
    padding: 20px;
}
@media (max-width: 600px) {
    .map,
    .places {
        display: block;
        width: auto;
    }
    #map-canvas {
        height: 400px;
        width: 100%;
    }
  #pano {
      width: 220px;
      height: 200px;
      float: none;
      margin: 0 0 20px 0;
  }
  .details-holder {
      float: none;
      height: auto;
  }
  #details {
      display: none;
  }
}
input {
    font: 14px/1.375 sans-serif;
}
.search-field {
    width: 100%;
    padding:10px;
    border:2px solid #888;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.place-list {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}
.place-list li {
    margin: 1px 0;
    padding: 0;
}
.place-list a {
    display: block;
    padding: 5px 10px;
}
.place-list a:hover {
    background: #36c;
    color: #fff;
    text-decoration: none;
}
.place-list .active,
.place-list .active a {
    background: #36c;
    color: #fff;
    text-decoration: none;
}
.wiki-link {
    position: absolute;
    line-height: 20px;
    top: 254px;
    left: 0;
}